---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="TikTok">
	<div class="container">
		<span>4</span>
		<img class="image" src="/images/notfound.png" alt="">
		<span>4</span>
	</div>
	<p class="notfound">Couldn't find this page</p>
	<p class="more">Check out more trending videos on TikTok</p>
	<a aria-label="Watch More Videos Now" class="btn" href="/">Watch Now</a>
</Layout>

<style>
	.notfound {
		color: var(--secundary-color);
		text-align: center;
	}
	.more{
		margin-top: 1rem;
		font-size: 18px;
		color: var(--main-color);
		text-align: center;
	}
	.btn {
		background: var(--red-color);
		color: var(--main-color);
		width: 300px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		margin-top: 1rem;
	}
	.image {
		width: 300px;
	}
	span {
		font-size: 200px;
		color: var(--main-color);
	}
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media screen and (width <= 768px) {
		.image {
			width: 200px;
		}
		span {
			font-size: 100px;
		}
	}

</style>
