---
import Layout from '@/layouts/Layout.astro'
import Recommendation from '@/components/Recommendation.astro'

const query = Astro.url.pathname.split('/')[1]
---

<Layout title="TikTok - Make Your Day">
	<main class="content">
		<Recommendation
			title="Channel"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum eligendi delectus voluptate id unde deserunt nulla ipsa veritatis laboriosam, quod quibusdam illum fugiat. Aperiam, delectus. Optio totam odio reprehenderit?"
			type={query}
		/>
		<Recommendation
			title="Channel"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum eligendi delectus voluptate id unde deserunt nulla ipsa veritatis laboriosam, quod quibusdam illum fugiat. Aperiam, delectus. Optio totam odio reprehenderit?"
			type={query}
		/>
		<Recommendation
			title="Channel"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dolorum eligendi delectus voluptate id unde deserunt nulla ipsa veritatis laboriosam, quod quibusdam illum fugiat. Aperiam, delectus. Optio totam odio reprehenderit?"
			type={query}
		/>
	</main>
</Layout>

<style>
</style>
