---
import Layout from '@/layouts/Layout.astro'

// const query = Astro.url.pathname.split('/')[1]
---

<Layout title="TikTok - Make Your Day">
	<main class="content">
	</main>
</Layout>

<style>
	.content {
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scroll-snap-points-y: repeat(100vh);
		height: 100%;
		width: 100%;
	}
	.content::-webkit-scrollbar {
		display: none;
	}
	.content {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
</style>
