---
import ExploreIcon from '@/icons/ExploreIcon.astro'
import FollowingIcon from '@/icons/FollowingIcon.astro'
import FriendsIcon from '@/icons/FriendsIcon.astro'
import HomeIcon from '@/icons/HomeIcon.astro'
import LiveIcon from '@/icons/LiveIcon.astro'
import ProfileIcon from '@/icons/ProfileIcon.astro';

---

<section class="sidebar">
	<ul class="list">
		<li class="item">
			<a aria-label="Go to home" href="/" class="link">
				<i class="icon"><HomeIcon width="32" height="32" /></i>
			</a>
		</li>
		<li class="item">
			<a aria-label="See the videos of your favorites channel" href="/following" class="link">
				<i class="icon"><FollowingIcon width="24" height="24" /></i>
			</a>
		</li>
		<li class="item">
			<a aria-label="See the videos of your friends" href="/friends" class="link">
				<i class="icon"><FriendsIcon width="32" height="32" /></i>
			</a>
		</li>
		<li class="item">
			<a aria-label="Discover more videos" href="/explore" class="link">
				<i class="icon"><ExploreIcon width="32" height="32" /></i>
			</a>
		</li>
		<li class="item">
			<a aria-label="Live Videos" href="/live" class="link">
				<i class="icon"><LiveIcon width="24" height="24" /></i>
			</a>
		</li>
		<li class="item">
			<a aria-label="See your profile" href="/profile" class="link">
				<i class="icon"><ProfileIcon width="32" height="32" /></i>
			</a>
		</li>
	</ul>
</section>

<script>
	const currentURL = new URL(window.location.href)
	const currentPath = currentURL.pathname.split('/').at(-1)

	const links = document.querySelectorAll('.link')
	links.forEach(link => {
		if (link.href.split('/').at(-1) === currentPath) {
			link.classList.add('selected')
		} else {
			link.classList.remove('selected')
		}
	})
</script>

<style>
	.sidebar{
		height: 100%;
		width: var(--mobile-sidebar-width);
		border: var(--border-color) 1px solid;
	}
	.selected {
		color: var(--red-color) !important;
	}
	.list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.link {
		padding: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}
	svg {
		width: 50px;
		height: 50px;
	}
</style>
