---
import TikTokIcon from '@/icons/TikTokIcon.astro'
import UploadIcon from '@/icons/UploadIcon.astro'
import MessageIcon from '@/icons/MessageIcon.astro'
import InboxIcon from '@/icons/InboxIcon.astro'
import SettingsMenu from '@/components/SettingsMenu.astro'
import Search from '@/components/Search.astro'
---

<nav class="navbar">
	<div class="logo">
		<a aria-label="Tiktok Logo" class="home" href="/">
			<TikTokIcon />
		</a>
	</div>
	<div class="search">
		<Search />
	</div>
	<div class="info">
		<button aria-label="Upload a Video" class="upload"><UploadIcon class="icon" /> Upload</button>
		<button aria-label="Your Messages" class="icon"><MessageIcon width="24px" height="24px" /> </button>
		<button aria-label="Your Inbox" class="icon"><InboxIcon width="32px" height="32px" /> </button>
		<div class="profile">
			<img class="avatar" src="https://avatars.githubusercontent.com/u/115658159" alt="User Profile">
			<div class="menu">
				<SettingsMenu />
			</div>
		</div>

	</div>

</nav>

<script>
	import debounce from 'just-debounce-it'

	const profile = document.querySelector('.profile')
	const menu = document.querySelector < HTMLElement > ('.menu')

	const handleMouseEnter = () => {
		if (!menu) return
		menu.classList.add('show')
		handleMouseOut.cancel()
	}
	const onMouseLeave = () => {
		if (!menu) return
		menu.classList.remove('show')
	}

	const handleMenu = () => {
		if (!menu) return
		menu.classList.toggle('show')
	}

	const handleMouseOut = debounce(onMouseLeave, 700)

		profile?.addEventListener('mouseenter', handleMouseEnter)
		profile?.addEventListener('mouseleave', handleMouseOut)
		profile?.addEventListener('touchstart', handleMenu)
</script>

<style>
	.navbar{
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		height: 100%;
		width: 100%;
		border-bottom: 1px solid var(--border-color);
		gap: 0.5rem;
	}
	.show {
		display: block !important;
	}
	.logo{
		width: 300px;
	}
	.home {
		text-decoration: none;
		color: #fff;
	}
	.search{
		position: relative;
		height: 45px;
		width: 500px;
	}
	@media (width <= 768px) {
		.search {
			display: none;
		}
	}
	.info {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.upload{
		border: 1px solid var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--main-background);
		color: var(--main-color);
		height: 35px;
		padding: 0rem 1rem;
		font-size: 16px;
		gap: 1rem;
		cursor: pointer;
	}

	.upload:hover {
		background: var(--hover-background);
	}
	.icon{
		background: var(--main-background);
		color: var(--main-color);
		border: none;
		cursor: pointer;
	}
	.profile{
		position: relative;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: none;
		cursor: pointer;
	}
	.menu {
		position: absolute;
		display: none;
		right: 0;
		top: 40px;
	}
	.avatar {
		width: 100%;
		height: 100%;
		border: none;
	}
</style>
