---
import PlayIcon from '@/icons/PlayIcon.astro'
interface Props {
	id: string;
	title: string;
	description: string;
	type: string;
}

const { id, title, description, type } = Astro.props
---

<section class="recommendation">
	<header class="header">
		<div class="info">
			<div class="profile">
				<img class="avatar" src="https://unavatar.io/github/andr3sc0des" alt="User Profile">
			</div>
			<article class="details">
				<h2 class="channel">{title}</h2>
				<p class="description">{description}</p>
			</article>
		</div>
			{type === 'foryou' ? <button aria-label="Follow this channel" class="btn">Follow</button> : ''}
	</header>

	<footer class="footer">
		<div class="video">
			<img class="img" src=`https://i.ytimg.com/vi_webp/${id}/maxresdefault.webp` alt={title}>
			<i class="play"><PlayIcon /></i>
		</div>
		<div class="actions"></div>
	</footer>
</section>

<style>
	.recommendation{
		color: var(--main-color);
		max-width: 730px;
		margin: 0 auto;
		padding: 1rem 10px;
		border-bottom: var(--border-color) 1px solid;
	}
	.video{
		position: relative;
		width: 315px;
		height: 560px;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--main-color);
		overflow: hidden;
	}
	.img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.info {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;
	}
	.channel {
		font-weight: 700;
		font-size: 18px;
	}
	.description {
		line-height: 1.3;
		font-size: 16px;
	}
	.avatar {
		width: 55px;
		height: 55px;
		border-radius: 50%;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	.btn{
		background: transparent;
		color: var(--red-color);
		border: 1px solid var(--red-color);
		padding: 0.5rem 1rem;
		font-size: 16px;
		cursor: pointer;
		border-radius: 0.2rem;
		font-weight: bold;
	}
	.btn:hover {
		background: #251618;
	}
	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
	}
	.play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba(255, 255, 255, 0.75);
	}
</style>
