---
import Layout from '@/layouts/Layout.astro'

export function getStaticPaths () {
	return [
		{ params: { id: '1' } },
		{ params: { id: '2' } },
		{ params: { id: '3' } },
		{ params: { id: '4' } },
		{ params: { id: '5' } },
		{ params: { id: '6' } },
		{ params: { id: '7' } },
		{ params: { id: '8' } },
		{ params: { id: '9' } },
		{ params: { id: '10' } }
	]
}

const { id } = Astro.params
---

<Layout title="Watch videos from creator you follow">
	<div class="video">
		<h1>Video {id}</h1>
	</div>
</Layout>

<script is:inline define:vars={{ id }}>
	window.addEventListener('wheel', (e) => {
		if (e.wheelDeltaY > 0) {
			if (Number(id) === 1) return
			window.location.href = `/video/${Number(id) - 1}`
		} else {
			if (Number(id) === 10) return
			window.location.href = `/video/${Number(id) + 1}`
		}
	})
</script>

<style>
	.video{
		width: 315px;
		height: 560px;
		border: 1px solid var(--main-color);
		border-radius: 1rem;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--main-color);
	}
</style>
